@charset "UTF-8";


footer {
    background-color: var(--secundary-color-dark);
    width: 100%;
    position: relative;
    /* top: 100%; */
    /* bottom: -30%; */
}

.logo-footer {
    color: white;
    font-weight: 200;
    font-size: 2.4rem;
}

.footer-content {
    display: flex;
    max-width: 124rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: .5rem;;
}

.social-media {
    text-align: center;
}

.social-media h3 {
    color: white;
    padding-bottom: 2rem;
}

.social-media i {
    font-size: 3rem;
    color: white;
    padding-inline: 1rem;
}

.form-footer {
    color: white;
}

.form-footer form{
    margin: 1rem auto;
    text-align: center;
}

.form-footer form h3,
.form-footer form p{
    margin-bottom: .6rem;
}

.form-footer form p{
    font-size: 1.2rem;
}

.social-media h3,
.form-footer form h3{
    font-size: 1.5rem;
}


label {
    background: var(--primary-color-extra-light);
    border-radius: 999px;
    padding: 1rem;
    display: inline;
    width: 1rem;
    right: 2rem;
    margin-left: .5rem;
    cursor: pointer;
}

#btn{
    display: none;
}

.email-field{
    padding: 1rem;
    border-radius: 20px;
    border-style: none;
    width: 60%;
    outline-style: none;
}