@charset "UTF-8";

.main-container-contact{
    height: 100vh;
    margin-bottom: 0;
    padding-top: 6rem;
}

.configs-contact {
    max-width: 100%;
    padding-inline: 8rem;
    margin-bottom: 3rem;
}

.contact-form{
    margin: 3rem auto;
    text-align: center;
    border: .1rem solid var(--secundadry-color-medium);
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: 1px 1px 2px var(--secundadry-color-medium);
}

.configs-contact .section-configs-h2{
    display: block;
    width: 100%;
    /* margin: 0 auto; */
}

input, textarea{
    padding: 1rem;
    border-radius: 0.5rem;
    outline: none;
    border-style: none;
    border: .1rem solid var(--secundadry-color-medium);
    background-color: var(--secundary-color-ligth);
}

.input-field-data{
    width: 40%;
    margin:0 1rem 2rem;
    display: inline;
}

.input-field-message-title{
    display:block;
    width: 85%;
    margin: 0 auto;
}

textarea{
    width: 85%;
    height: 10rem;
    margin-top: 2rem;
}

.form-btn {
    padding: 1rem;
    border-radius: .5rem;
    border-style: none;
    background-color: var(--primary-color-light);
    color: white;
    font-size: 1.6rem;
    margin-top: 1rem;
    box-shadow: 1px 1px 3px var(--primary-color-dark);
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.form-btn:hover {
    background-color: var(--primary-color-extra-light);
    transform: scale(110%);
}