@charset "UTF-8";

span {
    color: var(--primary-color-extra-light);
    font-weight: 800;
    height: 100%;
}

.cta-btn {
    padding: 2rem;
    border-radius: .5rem;
    border-style: none;
    background-color: var(--secundary-color-ligth);
    color: var(--primary-color-dark);
    font-size: 1.6rem;
    box-shadow: 1px 1px 3px var(--primary-color-dark);
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.cta-btn:hover {
    background-color: var(--primary-color-extra-light);
    transform: scale(110%);
}

.main-container {
    display: flex;
    gap: 4rem;
    justify-content: space-around;
    align-items: center;
    max-width: 124rem;
    margin: 5rem auto;   
}

.section-configs {
    max-width: 40%;
    padding-top: 9rem;
    margin-bottom: 3rem;
}

.section-configs-h3 {
    font-size: 1.4rem;
    padding-left: 3.5rem;
    position: relative;
}

.section-configs-h3::before {
    content: '';
    width: 3rem;
    height: 1rem;
    background-color: var(--primary-color-extra-light);
    display: block;
    position: absolute;
    border-radius: 10px;
    left: 0;
    top: .4rem;
    z-index: -1;
}

.section-configs-h2 {
    font-size: 3.2rem;
    margin-bottom: 2rem;
}

.section-configs p {
    font-size: 1.4rem;
    text-align: justify;
}

.article-about-us {
    margin-top: 9rem;
    max-width: 45%;
    overflow: hidden;
    background: var(--secundary-color-dark);
    box-shadow: 0px 0px 3px var(--secundary-color-dark);

}

.article-about-us img {
    height: 30rem;
}

.article-about-us h2 {
    font-size: 9rem;
    text-align: left;
}

.article-text {
    padding: 0rem 3rem 3rem 3rem;
    background: var(--secundary-color-dark);
    color: white;
}

.article-services {
    margin: 9rem 1rem;
    max-width: 30%;
    padding: 1rem;
    /* overflow: hidden; */
    box-shadow: 0px 0px 3px var(--secundary-color-dark);
    display: inline-block;
    border-radius: 1rem;
}

.article-services img {
    height: 12rem;
    max-width: fit-content;
    display: block;
    margin: 2rem auto;
    
}

.article-services h2 {
    font-size: 3rem;
    text-align: left;
    margin-bottom: 1rem;
}

.article-text-service {
    padding: 0rem 3rem 3rem 3rem;
    color: var(--secundary-color-dark);
    text-align: justify;
}

.article-services:hover{
    background-color: var(--secundary-color-ligth);
}