@charset "UTF-8";

.modal-configs{
    /* position: absolute; */
    top: 70vh;
    left: 70%;
    padding: 2rem;
    outline: none;
    border: none;
    border-right: 1rem solid var(--primary-color-extra-light);
    box-shadow: 1px 1px 3px var(--secundadry-color-medium);
}

.modal-configs::after{
    display: block;
    content: '';
    /* width: 100%; */
    height: 1rem;
    border-bottom: 1rem solid var(--primary-color-extra-light);
    position: absolute;
    bottom: 0;
    right: 0;
    animation: borderAnimation 2s;
}

::backdrop {
    background: none;
  }

@keyframes borderAnimation {
    100%{
        width: 0%;
    }
    0%{
        width: 100%; 
    }
}