@charset "UTF-8";

.nav-bar{
    background-color: var(--secundary-color-dark);
    position: fixed;
    width: 100%;
    height: 7rem;
    top: 0;
    padding: 2rem;
    z-index: 100;
}

.container-itens{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 124rem;
    margin: auto;
}

.container-itens a{
    text-decoration: none;
}

.logo{
    color: white;
    font-weight: 200;
    font-size: 2.4rem;
}

.nav-itens{
    display: flex;  
    justify-content: space-evenly;
    gap: 3rem;
}

.nav-itens li{
    margin-top: auto 0;
    list-style: none;
}

.nav-itens li a{
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
    transition: all .5s;
    padding: .1rem;
}


.nav-itens li a:hover{
    border-bottom: .1rem solid var(--primary-color-extra-light);
    color: var(--primary-color-extra-light);
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 3.2rem;
    height: 0.2rem;
    background: #fff;
    margin: 0.8rem;
}